#app {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows:
    minmax(255px, max-content)
    repeat(3, minmax(min-content, max-content)) 30px;
  box-sizing: border-box;
  background: linear-gradient(
    45deg,
    rgba(38, 66, 58, 0.966) 0%,
    rgba(29, 31, 141, 0.445) 40%,
    rgba(42, 51, 8, 0.808) 80%
  );
}
