@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap");

html {
  overflow-x: hidden;
}
body {
  padding: 0;
  margin: 0;
  min-height: 100vh;
  box-sizing: border-box;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
  // transition: height 250ms 600s; /*10min delay*/
}
#app {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows:
    minmax(255px, max-content)
    repeat(3, minmax(min-content, max-content)) 30px;
  box-sizing: border-box;
  background: linear-gradient(
    45deg,
    rgba(38, 66, 58, 0.966) 0%,
    rgba(29, 31, 141, 0.445) 40%,
    rgba(42, 51, 8, 0.808) 80%
  );
}
@import "./components/IntroScreen/introStyle.scss";
@import "./components/LeftBar/leftBarStyle.scss";
@import "./components/Search/searchStyle.scss";
@import "./components/RightBar/rightBarStyle.scss";
@import "./components/TemperatureCard/temperatureCard.scss";
@import "./media.scss";
