.rightbar {
  grid-column: 1/2;
  font-size: 25px;
  // border: 2px solid white;
  width: 80%;
  max-width: 480px; // '''''''''
  display: flex;
  flex-direction: column;
  justify-content: start;
  transition: visibility 0.2s, opacity 0.2s;
  margin: 0 auto;
}
h6 {
  margin: 0;
  font-weight: 400;
}
p {
  font-weight: 900;
}
.right-bar-item:first-child {
  margin-top: 100px;
}
.right-bar-item {
  position: relative;
  display: grid;
  justify-content: center;
  grid-template-columns: 0.5fr 2fr;
  grid-template-rows: 50px 50px;
  margin-bottom: 25px;
}
.right-bar-item::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%;
  transition: 0.2s;
  transition-delay: 0.2s;
  background: yellow;
  border-radius: 5px;
}
.right-bar-item:nth-of-type(2)::after {
  transition-delay: 0.25s;
}
.right-bar-item:nth-of-type(3)::after {
  transition-delay: 0.3s;
}
.right-bar-item:nth-of-type(4)::after {
  transition-delay: 0.35s;
}
.rightbar.invisible > .right-bar-item::after {
  width: 0%;
}
.right-bar-icon {
  grid-row: 1/3;
}
.right-bar-icon img {
  width: 90%;
  margin-top: 12px;
}
.right-bar-item h6 {
  display: flex;
  align-items: center;
  padding-left: 5px;
}
.right-bar-item p {
  grid-column: 2/3;
  grid-row: 2/3;
  margin: 0;
  padding-left: 5px;
}
